# Day 2

## Datatypes in Python

### Strings

We saw strings in Day-1. A string is text and are generally flanked by double-quotes.

We can get one character at a specific position of a string using <u><b>subscripting</u></b>.

In [1]:
str1 = "Hello"
print(str1[0])

H

As we can see we used suscripting to get the first character in the given string. Note that [] are used and inside the square brackets we have a value. This value is called the <b><u>index</u></b>.

<u>Note</u> : The index always starts with 0. So the first position of the string is at index 0 and the second position is at index 1 and so on... The last position is at index n-1 (where n is the number of characters in the string.)

If any text is enclosed with double quotes it's a string even numbers. For example,

In [2]:
num1 = "123"
num2 = "345"
print(num1 + num2)

123345

This just does concatenation as both are still strings.

### Integer

These are just integer numbers without any decimal points. To write this we just give the number as value. It need not be enclosed in anything.

When we write large numbers we write it as 12,582. In python the commas may be replaced with _ and the computer will just ignore it when doing operations. We humans will have the benefit when we read it

In [3]:
print(123)
print(123_234)

123
123234

### Float

It's short for a floating point number. These numbers have decimal places.

### Boolean

Boolean can have only 2 possible values True or False. These are used in conditions. These are not strings they are not enclosed in quotes

## The Type Error

When we give a value of the wrong datatype to a function we get a TypeError. For example, The len function cannot take int values as arguments.

In [4]:
print(len(234))

TypeError: object of type 'int' has no len()

We cannot concatenate integers with strings we also get a TypeErrors.

## Typechecking

We can use the function type() and pass the data as an argument and we get the type of the data. This is helpful to know what type your data is.

In [5]:
print(type(234))
print(type(234.0))
print(type("234"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Typecasting/Typeconversion

If we want to interchage types in python we can use <u><b>typecasting</u></b>.

### Convert an integer to string

We can convert an integer value into a string using str() function with integer as argument and it will convert it into a string. We can then use it like a string with len function, concatenation, etc.

In [6]:
n = 123
print(type(n))

n = str(n)
print(type(n))

<class 'int'>
<class 'str'>

Like this we can convert a lot of data to different types. Below you can see an integer converted to string, float and back to an integer

In [7]:
n = 123
print(type(n))

n = str(n)
print(type(n))

n = float(n)
print(type(n))

n = int(n)
print(type(n))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

## Mathematical Operators in Python

- "+" is for Addition
- "-" is for Subtraction
- "*" is for Multiplication
- "/" is for Division
- "**" is for exponentiation

In [8]:
print(3+5)

print(5-3)

print(5*2)

print(6/3)

print(2**2)

8
2
10
2.0
4

We can see that division will always give a float value as output.

### Priority of Operators

When there are multiple operators in one line of code there is a certain preference given to each operator. 

The order of precedence is 

() > * / > + -

Note: If two operators are of equal importance we have to do calculation from left to right

We can use () to do some calculation with a lower precedence operator first

In [9]:
print(3+3/3)

print((3+3)/3)

4.0
2.0

## Number Manipulation

Suppose we do a division with a long decimal answer (eg: 8/3). We can use the round function passing the expression as argument.

In [10]:
print(8/3)

print(round(8/3))

2.6666666666666665
3

We can also round to the number of decimal places we want using a second argument.

In [11]:
print(round(8/3, 2))

2.67

Another way is to use a new operator //. This is called <u><b>floor division</b></u>. This will return the answer as the nearest whole number lesser than the decimal answer.

In [12]:
print(8//3)

2

We can also shorten our code lines by using special operators that replace long operations. For example we can replace x = x + y with x += y

In [13]:
result = 4
result += 2
result /= 3

## F-Strings

When we try to concatenate an integer to a string we have to convert it to a string and then concatenate which will get tiresome when we have a lot of integers involved. A convenient way of incorporating things which have different datatypes are called <u><b>F-Strings</b></u>

In [14]:
score = input("Enter score: ")
height = 1.67

print(f"Score is {score}, your height is {height}")

Enter score:  25

Score is 25, your height is 1.67

As we can see using f-strings just require us to put an "f" before the string and then add the variable name in {}. The conversion and concatenation will be done automatically.